.anime-detail{
    height: 93vh;
}
.anime-details-bg{
    height: 350px;
    overflow: hidden
}
.bg-dt{
   
    height: 100%;
    width: 100%;
    filter: blur(15px);
    overflow: hidden;
    background-image: linear-gradient(
        45deg, #dd5353, #d9a324)
}
.anime-detail-content{
    display: flex;
    padding-left: 10%;
    position: relative;
    transform: translateY(-20%);
}
.anime-details-img{

}
.anime-details-info{
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-left: 2%;
}
.watch-now{
    display: block;
    width: 135px;
    height: 40px;
    text-align: left;
    background: #000;
    line-height: 40px;
    padding-left: 20px;
    border-radius: 10px;
}
.des{

}
.title{
    margin-top: 29px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.genre{
    color: #aa9e9e;
    font-size: 16px;
}
.descriptions{
    width: 700px;
    color: #c3c2c2;
}